Repository newbornfrontender/svelte-test-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: refactor code
  plugins/postcss-in-css.js
  plugins/postcss-in-html.js
  plugins/utils/check-dir.js
  plugins/utils/get-filename-from-id.js
  rollup.config.js
  src/index.html
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

fix: plugins
  plugins/postcss-in-css.js
  plugins/postcss-in-html.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

fix: refactor
  plugins/postcss-in-css.js
  plugins/postcss-in-html.js
  plugins/utils/get-filename-from-id.js
  plugins/utils/get-filename.js
  src/global.css
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: rename file
  .postcssrc.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: refactor
  plugins/css.js
  plugins/html.js
  plugins/utils/check-dir.js
  plugins/utils/filename.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: refactor
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: check maps
  src/global.css
Due: stylelint --fix

chore: remove unused options
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

feat: add map output for css files
  plugins/css.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: update deps
  yarn.lock
Due: none

feat: update deps
  package.json
  yarn.lock
Due: prettier --svelte-sort-order markup-styles-scripts --write

feat: add prettier ignore files
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: change imports ordering
  src/main.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: wip
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

fix: rimraf conf
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: wip
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: remove eslint plugin compat
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

style: refactor
  plugins/css.js
  plugins/html.js
  rollup.config.js
  src/App.svelte
  src/components/Counter/Counter.svelte
  src/components/Counter/Decrement.svelte
  src/components/Counter/Increment.svelte
  src/components/Counter/Reset.svelte
  src/components/Inner.svelte
  src/components/Transition.svelte
  src/global.css
  src/index.html
  src/main.js
  src/store/counter.js
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

style: format
  src/index.html
Due: prettier --svelte-sort-order markup-styles-scripts --write

feat: add testing
  .eslintrc.js
  .postcssrc.js
  package.json
  rollup.config.js
  src/components/App/App.spec.js
  src/components/App/App.svelte
  src/main.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: remove rollup-plugin-postcss
  package.json
  yarn.lock
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: move postcss-import to css plugin only
  .postcssrc.js
  plugins/css.js
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

Path conditions:
  eslint --fix: any of: **/*.{svelte,js}
  stylelint --fix: any of: **/*.{svelte,css}
  prettier --svelte-sort-order markup-styles-scripts --write: any of: **/*.{svelte,html,js,json,md}
