Repository newbornfrontender/svelte-test-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: write html minify plugin
  .gitignore
  package.json
  plugins/html.js
  posthtml.config.js
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: rewrite ht\ml plugin
  plugins/html.js
  plugins/htmlnano.js
  posthtml.config.js
  rollup.config.js
  src/components/Inner.svelte
  src/index.html
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

style: rewrite htmlnano plugin and format code
  .stylelintignore
  package.json
  plugins/htmlnano.js
  rollup.config.js
  src/App.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add alias rollup plugin
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add counter sample
  src/App.svelte
  src/components/Counter/Counter.svelte
  src/components/Counter/Decrement.svelte
  src/components/Counter/Increment.svelte
  src/components/Counter/Reset.svelte
  src/components/Inner.svelte
  src/store/counter.js
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add transition sample
  rollup.config.js
  src/App.svelte
  src/components/Counter/Counter.svelte
  src/components/Transition.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add vscode options
  src/App.svelte
  svelte.config.js
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add md prettify
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

feat: add md prettify
  .lintstagedrc.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

fix: change hysky config
  .huskyrc.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

feat: upgrade deps
  yarn.lock
Due: none

chore: test logical props and browsers targets
  browserslist
  src/components/Counter/Reset.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: change browsers targets
  browserslist
Due: none

style: format
  README.md
Due: none

chore: move all configs to package
  .commitlintrc.json
  .eslintignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  babel.config.js
  browserslist
  package.json
  svelte.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: remove prettier format settings
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

style: format
  src/components/Counter/Reset.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: change browsers targets
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: rename rlugin
  plugins/postcss-in-html.js
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add eslint-plugin-compat
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add stylelint-no-unsupported-browser-features
  package.json
  yarn.lock
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: replace linters ignore files to gitignore
  .prettierignore
  .stylelintignore
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

fix: change plugin name
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add doiuse and postcss-reporter
  package.json
  postcss.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: wip
  src/components/Counter/Reset.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add postcss-use
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: disable maps in prod
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: add postcss-import and postcss-normalize
  package.json
  postcss.config.js
  src/index.css
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: wip
  package.json
  plugins/postcss.js
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: wip
  package.json
  plugins/postcss-in-css.js
  plugins/postcss-in-html.js
  postcss.config.js
  rollup.config.js
  src/App.svelte
  src/global.css
  src/main.js
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: add map log output
  plugins/postcss-in-css.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: remove svelte-preprocess
  package.json
  yarn.lock
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: replace normalize to sinitize
  src/global.css
Due: stylelint --fix

chore: add dir attr
  src/index.html
Due: prettier --svelte-sort-order markup-styles-scripts --write

chore: add logical prop to test postcss env plugin
  src/App.svelte
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

feat: wip
  plugins/postcss-in-css.js
  postcss.config.js
  rollup.config.js
Due: eslint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: remove stylelint-no-unsupported-browser-features
  package.json
  src/App.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --svelte-sort-order markup-styles-scripts --write

chore: format scripts
  package.json
Due: prettier --svelte-sort-order markup-styles-scripts --write

Path conditions:
  eslint --fix: any of: **/*.{svelte,js}
  stylelint --fix: any of: **/*.{svelte,css}
  prettier --svelte-sort-order markup-styles-scripts --write: any of: **/*.{svelte,html,js,json}
